@media screen and (max-width: 1300px)
   .dress__pic
      left: 10px
@media screen and (max-width: 1199px)
   .menu
      position: fixed
      top: 0px
      right: 0
      width: 100%
      height: 100%
      padding: 16px 16px 35px
      background: var(--color-text-white)
      transform: translateX(200%)
      transition: transform 0.5s
      z-index: 2101
      overflow: hidden
      display: block
      &.active
         transform: translateY(0)
      &__bg
         object-fit: contain
         position: absolute
         bottom: -133px
         left: -46px
         width: 100%
         max-height: 50%
      ul
         display: flex
         flex-direction: column
         position: relative
         z-index: 2
         overflow-y: auto
         max-height: 417px
         overflow-x: hidden
         li
            padding-bottom: 15px
            margin-bottom: 15px
            border-bottom: 1px solid #e4e4e4
            a
               font-size: 14px
               font-weight: 400
               line-height: 16px
               color: var(--color-primary)
               &:hover
                  color: var(--color-text-yellow)
      .main__logo
         display: flex
         top: 0
         transform: initial
         position: relative
         left: 0
         margin-bottom: 0px
         width: 44px
         height: 44px
      &__top
         display: flex
         align-items: center
         justify-content: space-between
         margin-bottom: 37px
      &__close
         width: 24px
         border: none
         padding: 0
         margin: 0
         height: 24px
   .main__head ul
      display: none
   .template-content
      &.no-scroll
         overflow: hidden
         height: 100vh
   .main__logo
      display: none
   .main__content
      max-width: 100%
      padding: 0
   .main__wrap
      padding: 0
   .main__area
      top: -8px
   .main__head
      padding: 10px 15px
   .main__content .title
      padding-top: 54px
   .menu__btn
      margin-left: auto
      top: 10px
      display: block
   .main__logo p
      top: -1px
      left: -1px
   .main__logo span
      top: 7px
      right: 4px
   .main
      padding-bottom: 40px
   .main__pic
      width: 300px
      height: 452px
   .main__info
      margin-top: 60px
   .personal_greeting__pic
      left: 0
   .personal_greeting__content .title3
      max-width: 501px
   .personal_greeting__fig
      width: 100px
      height: 100px
      top: 102px
      left: 310px
   .personal_greeting__text
      margin-bottom: 40px
   .personal_greeting__content
      right: 0
   .calendar__area h3
      margin-bottom: 100px
   .calendar__area
      padding: 120px 0
   .story__pic
      width: 50%
      height: 350px
   .dress__row
      flex-direction: column
   .dress__content
      text-align: center
      margin: 40px auto 0
   .dress__colors
      margin: 80px auto 60px
   .dress__pic
      left: 0
      margin: 0 auto
   .guest__item
      width: 49.7%
   .guest__item_6, .guest__item_3
      left: 0
   .guest__bottom .guest__item
      width: 49%
   .guest__bg
      bottom: -67px
      right: -239px
      width: 500px
      height: 697px
   .faq h2
      margin-bottom: 40px
   .faq__wrap
      padding: 40px 80px 60px
   .map__top
      bottom: initial
      top: 20px
      left: 20px
      padding: 40px 30px
   .footer__content .title2 small
      margin-bottom: 14px
@media (max-width: 991px)
   .personal_greeting__content
      max-width: 70%
   .personal_greeting__fig
      left: 250px
   .personal_greeting__pic
      width: 675px
      height: 479px
   .about__pic
      width: 100%
   .guest__item
      width: 100%
   .guest__bottom
      flex-direction: column
   .guest__item_7 h3, .guest__item_8 h3
      min-height: auto
   .guest__bottom .guest__item
      width: 100%
   .guest__wrap
      padding: 40px 80px
   .guest__item_6 .guest__field textarea, .guest__item_1 .guest__input
      width: 100%
   .guest__bg
      bottom: inherit
      right: -157px
      width: 334px
      height: 465px
      top: -110px
   .guest__bottom
      margin-top: 0
   .confirm__pic1
      bottom: -201px
      left: -240px
      width: 480px
      height: 573px
   .confirm__content p
      max-width: 189px
   .calendar__year
      top: 74px
      width: 311px
@media screen and (max-width: 767px)
   .title small
      margin-bottom: -2px
      margin-top: 3px
   .title span
      &:first-of-type
         &::first-letter
            padding-right: 20px
   .main__info
      margin-top: 75px
   .personal_greeting__content
      right: 0
      margin-right: 20px
      max-width: 80.7%
      padding: 62px 25px 29.2px
      margin-top: -38px
      box-shadow: 3.34px 1.11px 6.68px 0px rgba(0,0,0,0.10), 12.25px 4.46px 13.37px 0px rgba(0,0,0,0.09), 27.85px 10.02px 17.82px 0px rgba(0,0,0,0.05), 49.01px 18.94px 21.16px 0px rgba(0,0,0,0.01), 75.74px 28.96px 22.28px 0px rgba(0,0,0,0.00)
   .personal_greeting__content .title3
      line-height: 16px
      margin-bottom: 10px
   .personal_greeting__text
      line-height: 16px
      max-width: 302px
      margin-bottom: 24px
   .personal_greeting__data h4
      line-height: 22px
      margin-bottom: 16px
   .personal_greeting__row p
      line-height: 46px
      letter-spacing: 2.1px
   .personal_greeting__row span
      line-height: 15px
   .personal_greeting__content .title2
      margin-bottom: 10px
   .personal_greeting__row
      display: flex
      gap: 37px
      left: 4px
   .personal_greeting__row p:before
      height: 46px
      left: -26px
   .personal_greeting__row p:after
      height: 46px
      right: -26px
   .personal_greeting__fig
      width: 52px
      height: 52.36px
      top: 91px
      left: 116px
   .personal_greeting__content .title3
      max-width: 297px
      line-height: 95%
   .personal_greeting__pic
      width: 78.2%
      height: auto
      left: 6px
   .about__pic
      width: 60%
      height: 250px
      margin: 0 0 0 10px
   .about__content
      padding: 20px
      width: 67%
      margin: -99px 10px 0 auto
   .about__content p
      text-align: left
      line-height: 16px
   .story__wrap
      flex-direction: column
   .story__pic
      width: 100%
      height: 380px
      margin: 0 auto
   .story h2
      margin-bottom: 33px
   .story__content
      max-width: 100%
      margin-left: 0
      padding: 0 10px
      top: 0
      margin-top: 25px
@media screen and (max-width: 576px)
   .container
      padding: 0 10px
   .main__content .title
      padding-top: 69px
   .title small
      margin: 2px 0 0px
      position: relative
      left: 5px
   .main__pic
      display: block
      width: 181px
      height: 273px
      margin: 20px auto -10px
      left: 45px
   .main__area
      height: 492px
   .main__info p
      line-height: 32px
      margin-bottom: 0
   .main__info span
      letter-spacing: 0.5px
      line-height: 18px
   .personal_greeting
      padding: 40px 0
   .personal_greeting__pic
      width: 78.2%
      height: auto
      left: 6px
   .about .title2
      margin-bottom: 14px
   .about__pic
      width: 60%
      height: 228px
      margin: 0 0 0 10px
   .about__content
      box-shadow: 3.34px 1.11px 6.68px 0px rgba(0,0,0,0.10), 12.25px 4.46px 13.37px 0px rgba(0,0,0,0.09), 27.85px 10.02px 17.82px 0px rgba(0,0,0,0.05), 49.01px 18.94px 21.16px 0px rgba(0,0,0,0.01), 75.74px 28.96px 22.28px 0px rgba(0,0,0,0.00)
      padding: 14px 16px
      width: 67%
      margin: -99px 10px 0 auto
   .about__content p
      text-align: left
      line-height: 16px
      span
         display: initial
   .timer
      gap: 5px
      margin-bottom: 50px
   .timer__item
      padding-bottom: 6px
      width: 62px
      height: 62px
   .calendar .title2
      width: 100%
      max-width: 70%
      margin-bottom: 22px
   .title2
      line-height: 104%
   .calendar__area .fz
      margin-bottom: 73px
      &::first-letter
         padding-right: 2px
   .calendar__area
      padding: 77px 0 57px
   .calendar__head
      width: 100%
      max-width: 246px
      margin: 0 auto 17px
      gap: 20.5px
   .calendar__day
      width: 20px
   .calendar__body
      gap: 15px 18px
      width: 100%
      max-width: 250px
      margin: 0 auto
   .calendar__day.active:after
      width: 33.64px
      height: 28.04px
      background-size: 100% !important
      margin-left: -15.5px
      margin-top: -12px
   .story__pic
      width: 95%
      height: 313px
      margin: 0 auto
   .story h2
      margin-bottom: 33px
   .story__content
      max-width: 100%
      margin-left: 0
      padding: 0 10px
      top: 0
      margin-top: 17px
   .story__content p
      line-height: 16px
      margin: 0px 0 13px
   .timing__pic
      top: 0
      left: 50%
      width: 278px
      margin-left: -139px
   .timing__wrap
      padding-top: 60px
      padding-bottom: 50px
   .timing__sub
      line-height: 16px
      max-width: 202px
   .timing__item h3
      margin-bottom: 3px
      padding-right: 5px
   .timing__item span
      margin-bottom: 3px
   .timing__item p
      max-width: 209px
   .timing__item
      margin-bottom: 39px
   .timing__area
      max-height: 725px
   .dress
      padding: 50px 0
   .dress__row
      flex-direction: column
   .dress__wrap
      padding: 27px 22px 16px
      width: 94%
      margin: 0 auto
      box-shadow: 4px 4px 13.2px 0px rgba(0,0,0,0.17)
   .dress__text p
      text-align: center
   .dress__text
      margin-bottom: 10px
   .dress__content
      margin-top: 0
   .dress__colors
      gap: 6px
      margin: 17px auto 8px
   .dress__colors div
      width: 39px
      height: 39px
   .dress__pic
      left: -7px
      width: 275px
      height: 275px
      margin: 0 auto
   .guest__wrap
      padding: 19px 16px 35px
      width: 94%
      margin: 0 auto
   .guest__item
      width: 100%
   .guest__item h3
      margin-bottom: 9px
   .guest__content
      gap: 35px 0px
   .guest__bg
      height: 223px
      top: -64px
      bottom: initial
      right: -80px
      width: 160px
   .guest__bottom
      margin-top: 5px
      flex-direction: column
      gap: 20px
   .guest__bottom .guest__item
      width: 100%
      h3
         min-height: inherit
         line-height: 16px
      .guest__field textarea
         min-height: 140px !important
         padding: 10px 20px
         border-radius: 13px
   .faq__wrap
      width: 94%
      margin: 0 auto
      padding: 20px 18px 20px
   .faq__item h3
      line-height: 16px
      margin-bottom: 2px
   .faq__item p
      line-height: 16px
   .faq h2
      margin-bottom: 24px
   .faq__item
      margin-bottom: 10px
      padding-bottom: 10px
   .faq__item:first-child
      padding-top: 10px
   .wishlist h2
      margin-bottom: 14px
   .wishlist p
      line-height: 16px
      max-width: 219px
   .wishlist__btn
      height: 34px
      margin-top: 14px
   .contact h2
      margin-bottom: 19px
   .contact h3
      margin-bottom: 9px
   .contact a
      margin-bottom: 19px
   .contact p
      line-height: 16px
      max-width: 219px
   .map
      padding: 30px 0 50px
   .map__top
      position: relative
      top: 0
      left: 0
      box-shadow: inherit
      padding: 0
      border-radius: 0
      margin-bottom: 14px
   .map__canvas #map-canvas
      height: 430px
   .map .map-marker__info
      max-width: 151px
      border-radius: 11px
      padding: 8px 11px
   .map__name
      line-height: 20px
      margin-bottom: 0
   .map .map-marker__info h3
      line-height: 12px
      margin-bottom: 6px
   .map .map-marker__info p
      line-height: 12px
   .map .map-marker__icon
      width: 20px
      height: 29px
   .confirm__bg
      width: 258px
      height: 333px
      left: 50%
      margin-left: -127px
   .confirm__content
      padding: 106px 20px 0
   .confirm__content p
      max-width: 132px
      line-height: 17px
      margin-top: 10px
   .confirm__pic1
      bottom: 0px
      left: -123px
      width: 300px
      height: 358px
   .confirm__pic2
      bottom: 53px
      right: -88px
      width: 264px
      height: 309px
   .confirm__wrap
      height: 482px
   .confirm
      padding: 40px 0 0px
   .footer
      padding: 30px 0 50px
   .footer__text
      margin-bottom: 16px
   .footer__content
      border-radius: 0px 46px 0px 4px
      width: 94%
      max-width: 100%
      padding: 68px 20px 60px
      .title2
         small
            margin-bottom: 10px
         span
            &:first-of-type
               &::first-letter
                  padding-right: 18px
   .footer__pic
      width: 230px
      height: 269px
      bottom: -67px
      left: -116px
      margin-left: 0
   .personal_greeting__content .title3
      max-width: 204px
   .map__top
      max-width: 100%
   .confirm__pic1
      bottom: 0px
      left: -89px
      width: 300px
      height: 358px
   .confirm__pic2
      bottom: 53px
      right: -53px
      width: 264px
      height: 309px
   .main__info
      margin-top: 54px
   .calendar__head div
      font-size: 15px
   .calendar__day
      font-size: 18px
   .calendar__year
      top: 39px
      width: 250px
@media screen and (max-width: 360px)
   .confirm__pic1
      bottom: 0px
      left: -123px
   .confirm__pic2
      bottom: 53px
      right: -88px
   .calendar .title2
      width: 100%
      max-width: 85%
      margin-bottom: 22px